<div>
  <div style="overflow: auto;">
    <div style="float: left; width: 550px;">
      <%= @page.present? ? @page[:body] : "" %>
    </div>
    <div style="float: left; width: 300px;">
      <div id="recent_blog" class="sky_corner round_me" style="width: 300px;" speech="I am writing on these recently">loading recent blogs<div class='loading'></div></div>
      <div id="recent_dist_blog" class="sky_corner round_me" style="width: 300px;" speech="I am writing on these recently">loading blog of distributed system<div class='loading'></div></div>
    </div>
  </div>
  <div style="margin: 20px 0px 0px 330px; clear: both;">
    <div class="icon" style="float: left;">
      <a href="http://jitu-blog.blogspot.com/" target="_blank" speech="Follow my technical blog">
        <div class="blogger_icon">
        </div>
      </a>
    </div>
    <div class="icon" style="float: left;">
      <a href="http://jitu-blog.blogspot.com/feeds/posts/default" target="_blank" speech="Subscribe my technical blog">
        <div class="feed">
        </div>
      </a>
    </div>
    <div class="icon" style="float: left;">
      <a href="http://twitter.com/ashrafuzzaman" target="_blank" speech="Follow me on Twitter">
        <div class="twitter">
        </div>
        </b></a></div>
    <div class="icon" style="float: left;">
      <a href="http://www.linkedin.com/pub/a-k-m-ahsrafuzzaman/8/716/8b9" target="_blank"
         speech="I am Linked in">
        <div class="linkedin_icon">
        </div>
      </a>
    </div>
    <div class="icon" style="float: left;">
      <a href="http://www.facebook.com/profile.php?id=806820141" target="_blank" speech="Watch me in Facebook">
        <div class="facebook_icon">
        </div>
      </a>
    </div>
  </div>
  <br/>
</div>