<% js_caching = RefinerySetting.find_or_set(:use_resource_caching, Rails.root.join('public', 'javascripts', 'cache').writable?) -%>
<% content_for :head do %>
  <%= jquery_include_tags(:caching => js_caching) %>

  <script type="text/javascript" src="/theme/javascripts/default.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      loadRecentBlogFeed();
    });
  </script>
<% end %>

<div>
  <div style="overflow: auto;">
    <div style="float: left; width: 340px;">
      <%= @page.present? ? @page[:body] : "" %>
    </div>
    <div style="float: left; width: 310px; padding-left: 50px;">
      <div id="recent_blog">loading recent blogs<div class='loading'></div></div><br/>
      <div id="recent_dist_blog">loading blog of distributed system<div class='loading'></div></div>
    </div>
  </div>
  <div style="margin: 10px 0px 0px 250px; clear: both;">
    <div class="icon" style="float: left;">
      <a href="http://jitu-blog.blogspot.com/" target="_blank" speech="Follow my technical blog">
        <div class="blogger_icon">
        </div>
      </a>
    </div>
    <div class="icon" style="float: left;">
      <a href="http://jitu-blog.blogspot.com/feeds/posts/default" target="_blank" speech="Subscribe my technical blog">
        <div class="feed">
        </div>
      </a>
    </div>
    <div class="icon" style="float: left;">
      <a href="http://twitter.com/ashrafuzzaman" target="_blank" speech="Follow me on Twitter">
        <div class="twitter">
        </div>
        </b></a></div>
    <div class="icon" style="float: left;">
      <a href="http://www.linkedin.com/pub/a-k-m-ahsrafuzzaman/8/716/8b9" target="_blank"
         speech="I am Linked in">
        <div class="linkedin_icon">
        </div>
      </a>
    </div>
    <div class="icon" style="float: left;">
      <a href="http://www.facebook.com/profile.php?id=806820141" target="_blank" speech="Watch me in Facebook">
        <div class="facebook_icon">
        </div>
      </a>
    </div>
  </div>
  <br/>
</div>