<% js_caching = RefinerySetting.find_or_set(:use_resource_caching, Rails.root.join('public', 'javascripts', 'cache').writable?) -%>
<% content_for :head do %>
  <%= jquery_include_tags(:caching => js_caching) %>

  <script type="text/javascript" src="/theme/javascripts/yoxview/yoxview-init.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#pictures").yoxview({
        dataUrl: 'http://picasaweb.google.com/Ashrafuzzaman.G2/JeBujhekom'
      });
    });
  </script>
<% end %>

<div id="pictures">
</div>